@tailwind base;

:root {
  --primary: transparent;
  --secondary: #4d4d4d;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--secondary) var(--primary);
}

/* Chrome, Edge, and Safari  */
*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: var(--primary);
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--secondary);
  border-radius: 14px;
}

@tailwind components;
@tailwind utilities;

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: none;
  text-decoration: none;
}

button {
  text-decoration: none;
  background: none;
  border: none;
}

#wavebar {
  d: path(
    "M3.99902 14H5.99902V0H3.99902V14ZM-0.000976562 14H1.9902V4H-0.000976562V14ZM12 7V14H14V7H12ZM8.00002 14H10V10H8.00002V14Z"
  );
  animation: wavebar 500ms alternate infinite;
}
@keyframes wavebar {
  0% {
    d: path(
      "M3.99902 14H5.99902V0H3.99902V10ZM-0.000976562 14H1.9902V4H-0.000976562V14ZM12 7V14H14V7H12ZM8.00002 14H10V10H8.00002V14Z"
    );
  }
  25% {
    d: path(
      "M3.99902 14H5.99902V0H3.99902V14ZM-0.000976562 14H1.9902V4H-0.000976562V14ZM12 7V14H14V5H12ZM8.00002 14H10V8H8.00002V14Z"
    );
  }
  50% {
    d: path(
      "M3.99902 14H5.99902V5H3.99902V14ZM-0.000976562 14H1.9902V0H-0.000976562V6ZM12 7V14H14V4H12ZM8.00002 14H10V7H8.00002V10Z"
    );
  }
  100% {
    d: path(
      "M3.99902 14H5.99902V9H3.99902V10ZM-0.000976562 14H1.9902V2H-0.000976562V11ZM12 7V14H14V2H12ZM8.00002 14H10V5H8.00002V2Z"
    );
  }
}
